<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Ocean Elit</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href={% static 'css/styles.css' %}>

</head>
<body>
    <div >
        {% if messages %}   
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    </div>
    {% block content %}
  
    {% endblock content %}
</body>
</html>