{% load static %}
<div class="contaier mx-auto px-12 py-6 space-x-6 flex flex-col-reverse justify-items-center items-center md:flex-row h-screen md:h-screen" >
    <div class="w-1/2 flex ">
        <img src="https://media.discordapp.net/attachments/1119946465779929230/1190401082145382422/part-2.jpg?ex=65a1aa66&is=658f3566&hm=5c3e94e2aeee66a5a59ed1f9565940f52c963de7cfd5a7c925458d550032ba5e&=&format=webp&width=1266&height=671" alt="img1" class="img1" >
        <div class="flex flex-col subParts">
            <img src="https://media.discordapp.net/attachments/1119946465779929230/1190401082145382422/part-2.jpg?ex=65a1aa66&is=658f3566&hm=5c3e94e2aeee66a5a59ed1f9565940f52c963de7cfd5a7c925458d550032ba5e&=&format=webp&width=1266&height=671" alt="img2" class="img2" >
            <img src="https://media.discordapp.net/attachments/1119946465779929230/1190401082145382422/part-2.jpg?ex=65a1aa66&is=658f3566&hm=5c3e94e2aeee66a5a59ed1f9565940f52c963de7cfd5a7c925458d550032ba5e&=&format=webp&width=1266&height=671" alt="img2" class="img3" >
        </div>
    </div>
    <div class="md:w-1/2  space-y-8 py-12 text-center md:text-left" id="about" >
        <h1 class="aboutT text-center font-montserrat text-50 text-teal-500 m-10">About Us</h1>
        <p class="aboutP text-teal-550 "style="font-size:20px" >
            YACHT amore is a company that was founded in 2017 in Italy, in the Marche region. The main goal is to fulfill the dreams of our customers with a vacation on a luxury yacht with a view of the TOP 10 beaches in Italy.
We can guarantee our visitors high-quality apartments, the most delicious menu, professional crew and a sea of unforgettable emotions from the seen beauty.
Also, we have the possibility of renting a yacht with all the wishes of the client in the field of service.</p>
    </div>
</div>