{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="hero  bg-no-repeat bg-cover h-screen  md:h-screen" style=" background-image:url('{% static "img/landingBg.jpg" %}')" >
{% include '../parts/navbar.html' %}
       

    <section id="hero "> 
        <div class="contaier mx-auto px-12 py-6 space-x-6 flex flex-col-reverse md:flex-row">
        <div class="md:w-1/2  space-y-8 py-12 text-center md:text-left">
            <h1 class="font-bold text-3xl md:text-6xl text-white text-center" style="color: #ECD9C8;">Yakhting</h1>
            <p class="text-lg md:text-2xl  text-white">
                Take a moment to immerse yourself, however briefly, in our world of yachting. Superyacht videos capture the ambiance of each yacht, the energy of each crew and the spirit of each destination. If you can't be there yourself, this is the next best thing. Enjoy!
           </p>
            <div class="text-center">
                <a href="" class="py-2 px-5  rounded-full self-center md:self-start  text-white  " style="background-color: #025B70;"> About </a>
            </div>
        </div>
    </div>
    </section>
</div>
{% include './aboutPage.html' %}
{% include './rent.html' %} 
{% include './footer.html' %}
{% endblock %}