{% load static %}
<div class="contaier w-full mx-auto px-12 py-6 space-x-20 flex flex-col-reverse justify-items-center items-center md:flex-row-reverse h-s"  >
    <div class="w-1/2 flex p-32 ">
        <img src={% static 'img/part-2.jpg' %} alt="img1" class="img1" >
    </div>
    <div class="md:w-1/2  space-y-8 py-12 text-center flex flex-col  md:text-left" >
        <h1 class="aboutT text-center ">Rent</h1>
        <p class="aboutP text-center text-3xl">
            100$/hour
            By renting a yacht, you will get vivid impressions of a first-class vacation, see beautiful views of the embankments and an unforgettable starry sky.</p>
            <div class="flex justify-center">
                <a href="" class="py-2 px-20  rounded-lg  md:self-start  text-white " style="background-color: #bfa888;"> Rent </a>
            </div>
    </div>


    </div>