<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="main.css">

    <title>Document</title>
</head>
<body>
    <div class="  container flex flex-col space-y-8 item-center max-w-full px-5 ">
        <img src="part-2.jpg" class="d" alt="img">
    <div class="text-lg text-center">
        <h2>Title</h2>
    </div>
    <span>PRICE:1000000000000000000000000000TTC</span>
    <div class="text-center">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid officia architecto omnis voluptatum, debitis assumenda nobis autem perferendis ratione ea? Atque sunt sed quo fuga dolores vel repellat? Obcaecati, sunt?</p>
    </div>
</div>
    



</body>
</html>