<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu&display=swap" rel="stylesheet">

</head>
<body>
    <div class="hero" >
        <nav class="container  mx-auto p-6 ">
            <div class="flex item-center justify-between">
                <div>
                    <img src="assets/images/education.png" alt="img" width="50px">
                </div>
                <div class=" hidden  md:flex space-x-6  ">
                    <a href="" class="""  style="color:#f8f4f1">Portfolio</a>
                    <a href="" class=" "style="color:#f8f4f1">About</a>
                    <a href="" class="" style="color:#f8f4f1">Contact</a>
                    <a href="" class=" " style="color:#f8f4f1">Social</a>
                </div>
            </div>
        </nav>

        <section id="hero">
            <div class="contaier mx-auto px-12 py-6 space-x-6 flex flex-col-reverse md:flex-row">
            <div class="md:w-1/2  space-y-8 py-12 text-center md:text-left">
                <h1 class="font-bold text-3xl md:text-5xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neleniti mollitia labore quo veniam.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing </p>
                <div>
                    <a href="" class="py-2 px-5  rounded-full self-center md:self-start  text-white " style="background-color: #025B70;"> About </a>
                </div>
            </div>
        </div>
        </section>
    </div>
    <div class="contaier mx-auto px-12 py-6 space-x-6 flex flex-col-reverse md:flex-row" >
        <div class="w-1/2 flex ">
            <img src="part-2.jpg" alt="img1" class="img1" >
            <div class="flex flex-col subParts">
                <img src="part-2.jpg" alt="img2" class="img2" >
                <img src="part-2.jpg" alt="img2" class="img3" >
            </div>
        </div>
        <div class="md:w-1/2  space-y-8 py-12 text-center md:text-left" >
            <h1 class="aboutT text-center ">About Us</h1>
            <p class="aboutP">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nam aut ducimus totam, alias architecto ullam modi iure corrupti ratione, praesentium inventore sit in corporis delectus eos laudantium porro sint aspernatur minus minima quia, ipsam deleniti molestias. Ex cupiditate repudiandae, unde repellendus labore aspernatur quibusdam expedita atque nulla temporibus numquam!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem mollitia possimus maxime, voluptatum eveniet minima pariatur adipisci modi, quam esse placeat praesentium, consequatur iusto. Itaque repudiandae in quisquam a porro!</p>
        </div>
    </div>
    <div class="contaier w-full mx-auto px-12 py-6 space-x-20 flex flex-col-reverse  md:flex-row" >
        <div class="md:w-1/2  space-y-8 py-12 text-center flex flex-col  md:text-left" >
            <h1 class="aboutT text-center ">Rent</h1>
            <p class="aboutP text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nam aut ducimus totam, alias architecto ullam modi iure corrupti ratione, praesentium inventore sit in corporis delectus eos laudantium porro sint aspernatur minus minima quia, ipsam deleniti molestias. Ex cupiditate repudiandae, unde repellendus labore aspernatur quibusdam expedita atque nulla temporibus numquam!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem mollitia possimus maxime, voluptatum 
                eveniet minima pariatur adipisci modi, quam esse placeat praesentium, consequatur iusto. Itaque repudiandae in quisquam a porro!</p>
                <div class="flex justify-center">
                    <a href="" class="py-2 px-20  rounded-lg  md:self-start  text-white " style="background-color: #bfa888;"> Rent </a>
                </div>
        </div>
        <div class="w-1/2 flex ">
            <img src="part-2.jpg" alt="img1" class="img1" >
        </div>
        
        </div>
   
</body>
</html>
